@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Desactivar autocompletado solo para campos de marca y modelo */
#marca:-webkit-autofill,
#marca:-webkit-autofill:hover,
#marca:-webkit-autofill:focus,
#marca:-webkit-autofill:active,
#modelo:-webkit-autofill,
#modelo:-webkit-autofill:hover,
#modelo:-webkit-autofill:focus,
#modelo:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: inherit !important;
}

/* Ocultar sugerencias de autocompletado solo para campos de marca y modelo */
#marca::-webkit-contacts-auto-fill-button,
#marca::-webkit-credentials-auto-fill-button,
#modelo::-webkit-contacts-auto-fill-button,
#modelo::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  height: 0;
  width: 0;
  margin: 0;
}